.title {
  font-size: 100px;
  color: rgb(35, 165, 35);
}

.header {
  width: 100%;
  height: 120px;
  background-color: cornflowerblue;
}

.mainimg {
  width: 100%;
  height: 450px;
  background-color: rgb(194, 208, 235);
}

.contents {
  width: 100%;
  height: 800px;
  background-color: rgb(132, 224, 245)
}

.footer {
  width: 100%;
  height: 150px;
  background-color: rgb(139, 225, 196);
}